@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.star-animation {
    position: absolute;
    background-color: rgb(242, 5, 151);
    opacity: 0.6;
    border-radius: 50%;
    animation: twinkle 2s linear infinite;
  }
  
  @keyframes twinkle {
    0% {
      transform: scale(0.6);
      opacity: 0.6;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.6);
      opacity: 0.6;
    }
  }
  